.todo-container {
   display: flex;
   justify-content: center;
   
}

.title:MuiTypography-root{
   margin-bottom: 10vh;
}

.card{

}

.margin-top{
   margin-top: 50px;
}

.align-items{
   display: flex;
   align-items: center;
   gap: 10px;
}

.color-picker{
   gap:0px;
}